.p5Canvas {
  position: fixed;
  top: 0;
  left: 0;
  
  pointer-events: none;
}

.pack-opener ul {
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
}

.pack-opener li {
  list-style-type: none;
  padding: 10px 10px;
}

.pack-opener .card-container {
  transition: all 0.3s ease;
}

.pack-opener .card {
  cursor: pointer;
  will-change: transform;
  background-color: transparent;
}

.pack-opener li:hover{
  transform: scale(1.1);
}

.pack-opener .delete-card {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 15px;
  opacity: .4;
  transition: all 0.5s ease;
}

.pack-opener .delete-card:hover, .error {
  opacity: 1;
  transform: rotate(360deg);
}

.pack-opener .flip-enter-active {
  transition: all 0.4s ease;
}

.pack-opener .flip-leave-active {
  display: none;
}

.pack-opener .flip-enter, .pack-opener .flip-leave {
  transform: rotateY(180deg);
  transform-origin: center center;
  opacity: 0;
}
